<a href="https://colab.research.google.com/github/serikkk84/practicum/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
!pip install sqlalchemy 
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy) (2.0.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [20]:
import pandas as pd
from pyspark.sql import SparkSession
from sqlalchemy import create_engine

import numpy as np

In [23]:
sales = [85754, '05.04.2022', 3, 'a', 100, 100], [
    40494, '12.04.2022', 1, 'm', 10, 10], [
    25651, '11.06.2022', 4, 'f', 40], [
    34489, '18.06.2022', 1, 'f', 30], [
    83056, '06.07.2022', 2, 'm', 70], [
    36044, '07.07.2022', 2, 'g', 10, 10], [
    96498, '19.07.2022', 4, 'e', 70, 70]
columns = ['sales_id', 'date', 'buyer_id', 'seller_id', 'qty', 'qty_shipped']
total = pd.DataFrame(data=sales , columns=columns)
total

   sales_id        date  buyer_id seller_id  qty  qty_shipped
0     85754  05.04.2022         3         a  100        100.0
1     40494  12.04.2022         1         m   10         10.0
2     25651  11.06.2022         4         f   40          NaN
3     34489  18.06.2022         1         f   30          NaN
4     83056  06.07.2022         2         m   70          NaN
5     36044  07.07.2022         2         g   10         10.0
6     96498  19.07.2022         4         e   70         70.0

In [24]:
engine = create_engine('sqlite://',
                       echo = False)

In [25]:
total.to_sql('total_sales',
               con = engine)

7

In [40]:
print(engine.execute("SELECT * FROM total_sales").all())

[(0, 85754, '05.04.2022', 3, 'a', 100, 100.0), (1, 40494, '12.04.2022', 1, 'm', 10, 10.0), (2, 25651, '11.06.2022', 4, 'f', 40, None), (3, 34489, '18.06.2022', 1, 'f', 30, None), (4, 83056, '06.07.2022', 2, 'm', 70, None), (5, 36044, '07.07.2022', 2, 'g', 10, 10.0), (6, 96498, '19.07.2022', 4, 'e', 70, 70.0)]