<a href="https://colab.research.google.com/github/serikkk84/practicum/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ЗАДАЧА 1

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=54cf47fd79ca3c5026092e0d8051bf7d4f5a81cf806fed7f9fba1e197fdd188c
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pandas as pd
from pyspark.sql import SparkSession

from google.colab import files
import io
import numpy as np

In [3]:
uploaded = files.upload()

Saving total.csv to total.csv

In [4]:
data = pd.read_csv(io.BytesIO(uploaded['total.csv']))
data

   sales_id       dates  buyer_id seller_id  qty qty_shipped
0     85754  2022-04-05         3         a  100         100
1     40494  2022-04-12         1         m   10          10
2     25651  2022-06-11         4         f   40      (null)
3     34489  2022-06-18         1         f   30      (null)
4     83056  2022-07-06         2         m   70      (null)
5     36044  2022-07-07         2         g   10          10
6     96498  2022-07-19         4         e   70          70

In [11]:
APP_NAME = "DataFrames"
SPARK_URL = "local[*]"

spark = SparkSession.builder.appName(APP_NAME) \
                                            .config('spark.ui.showConsoleProgress', 'false') \
                                            .getOrCreate()


total = spark.createDataFrame(pd.read_csv(io.BytesIO(uploaded['total.csv'])))


total = total.fillna(0)

total.registerTempTable("total")

print(spark.sql('SELECT ROW_NUMBER() OVER(ORDER BY CAST(dates AS DATE)) AS number, t.sales_id, t.dates, t.buyer_id, t.seller_id, t.qty, t.qty_shipped, a.common_qty, b.first_sale, c.last_sale '
                'FROM total as t LEFT OUTER JOIN (SELECT buyer_id, SUM(qty) AS common_qty FROM total GROUP BY buyer_id) as a ON t.buyer_id=a.buyer_id '
                'LEFT OUTER JOIN (SELECT buyer_id, MIN(CAST(dates AS DATE)) AS first_sale FROM total GROUP BY buyer_id) as b on t.buyer_id=b.buyer_id '
                'LEFT OUTER JOIN (SELECT buyer_id, MAX(CAST(dates AS DATE)) AS last_sale FROM total GROUP BY buyer_id) as c on t.buyer_id=c.buyer_id ').show(10))
# < напишите код здесь >

/usr/local/lib/python3.9/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+------+--------+----------+--------+---------+---+-----------+----------+----------+----------+
|number|sales_id|     dates|buyer_id|seller_id|qty|qty_shipped|common_qty|first_sale| last_sale|
+------+--------+----------+--------+---------+---+-----------+----------+----------+----------+
|     1|   85754|2022-04-05|       3|        a|100|        100|       100|2022-04-05|2022-04-05|
|     2|   40494|2022-04-12|       1|        m| 10|         10|        40|2022-04-12|2022-06-18|
|     3|   25651|2022-06-11|       4|        f| 40|     (null)|       110|2022-06-11|2022-07-19|
|     4|   34489|2022-06-18|       1|        f| 30|     (null)|        40|2022-04-12|2022-06-18|
|     5|   83056|2022-07-06|       2|        m| 70|     (null)|        80|2022-07-06|2022-07-07|
|     6|   36044|2022-07-07|       2|        g| 10|         10|        80|2022-07-06|2022-07-07|
|     7|   96498|2022-07-19|       4|        e| 70|         70|       110|2022-06-11|2022-07-19|
+------+--------+----------+--------+---------+---+-----------+----------+----------+----------+

None

## ЗАДАЧА 2

# 1a

In [ ]:
SELECT cust.customer_nm,
       st.store_nm
FROM (SELECT c.customer_id,
             c.max,
             d.store_id
      FROM (SELECT a.customer_id,
                  MAX(b.count)
            FROM (SELECT customer_id, 
                         store_id, 
                         COUNT(sale_id) 
                 FROM sales
                 GROUP BY customer_id, store_id
                 ORDER BY customer_id, COUNT(sale_id) DESC) as a 
            LEFT JOIN (SELECT customer_id, 
                              store_id, 
                              COUNT(sale_id) 
                      FROM sales
                      GROUP BY customer_id, store_id
                      ORDER BY customer_id, COUNT(sale_id) DESC) AS b ON a.customer_id=b.customer_id AND a.count < b.count
            GROUP BY a.customer_id) AS c 
      LEFT JOIN (SELECT customer_id, 
                        store_id, 
                        COUNT(sale_id) 
                FROM sales 
                GROUP BY customer_id, store_id 
                ORDER BY customer_id, COUNT(sale_id) DESC) as d ON c.customer_id=d.customer_id AND c.max=d.count) AS temp1
LEFT JOIN customers AS cust ON temp1.customer_id=cust.customer_id
LEFT JOIN stores AS st ON temp1.store_id=st.store_id;

# 1b

In [ ]:
SELECT customer_nm
FROM customers
WHERE customer_id IN (SELECT a.customer_id
                      FROM (SELECT customer_id,
                                  EXTRACT(month FROM CAST(dt AS date)),
       COUNT (sale_id)
FROM sales
WHERE EXTRACT(month FROM CAST(dt AS date)) = 2 
      AND EXTRACT(year FROM CAST(dt AS date)) = 2023
GROUP BY customer_id, EXTRACT(month FROM CAST(dt AS date))
HAVING COUNT (sale_id) >= 3) as a
INNER JOIN (SELECT customer_id,
       EXTRACT(month FROM CAST(dt AS date)),
       COUNT (sale_id)
FROM sales
WHERE EXTRACT(month FROM CAST(dt AS date)) = 1
      AND EXTRACT(year FROM CAST(dt AS date)) = 2023
GROUP BY customer_id, EXTRACT(month FROM CAST(dt AS date))
HAVING COUNT (sale_id) >= 3) as b ON a.customer_id=b.customer_id);

# 2

In [ ]:
SELECT to_char((DATE_TRUNC('month', CAST(a.dt AS timestamp without time zone)) + interval '1 month' - interval '1 day'), 'DD.MM.YYYY') AS month_end_dt,
       b.amt AS company_sales_amt,
       a.store_id AS store_nm,
       a.amt1 AS store_sales_amt,
       a.amt1/b.amt AS stores_sales_share     
       
FROM (SELECT store_id,
             SUM(amt) as amt1, 
             EXTRACT(month FROM CAST(dt AS date)) as month,
             EXTRACT(year FROM CAST(dt AS date)) as year,
             dt
      FROM sales
      GROUP by store_id, EXTRACT(month FROM CAST(dt AS date)), EXTRACT(year FROM CAST(dt AS date)), dt
      ORDER BY store_id, EXTRACT(year FROM CAST(dt AS date)), EXTRACT(month FROM CAST(dt AS date))) AS a
      LEFT OUTER JOIN (SELECT EXTRACT(month FROM CAST(dt AS date)) AS month,
                              SUM(amt) AS amt
                       FROM sales
                       GROUP BY  EXTRACT(month FROM CAST(dt AS date))
                       ORDER BY  EXTRACT(month FROM CAST(dt AS date))) AS b ON a.month=b.month
ORDER BY a.year, a.month